body {

  font-family: "Lato", sans-serif;
  background-image: url(http://files.all-free-download.com//downloadfiles/wallpapers/1600_1200/vista_grass_wallpaper_windows_vista_computers_2735.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

img {
max-width: 400px;
 border-radius: 5px;
height: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: RGB(26,42,47);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
   background-color: rgb(110,122,32);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

#spacer {
  font-size: 20px;
  margin-left: 30px;
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.note_container {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: 5px 10px RGB(26,42,47);
}

.note_title {
  position: absolute;
  left: 10px;
  top: 10px;
}


.image_container {
  width: 500px;
  height: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: 0.3s;
}

.submit_button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.close_button {
  position: absolute;
  right: 10px;
  top: 10px;
}
textarea {
position: absolute;
top: 50px;
left: 50px;
  width: 400px;
  height: 200px;
  font-size: 20px;
}

.existing_note_container {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  transition: 0.3s;
  box-shadow: 5px 10px RGB(26,42,47);
  word-wrap: break-word;
}
.existing_note_container:hover
{
  transform: scale(1.2);
}

#existing_note_text_id {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 20px;
  margin-right:  50px;
  overflow-wrap: normal;
}
